<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Weex Vue Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no, email=no">
  <style>html, body, #root { width:100%; height: 100%; margin: 0; padding: 0; }</style> 
  <script src="./assets/phantom-limb.js"></script>
  <script src="./assets/toggle-limb.js"></script>
</head>
<body>
  <div id="root"></div>
  <script src="./dist/app.web.js"></script>
</body>
</html>
